body {
    font-family: Helvetica, sans-serif;
    background-color: white;
    color: #343332;
}

header {
    background-color: #343332;
    color: lightgray;
    text-align: center;
    margin: 20px;
}

header h1 {
    font-size: 72px;
    margin-bottom: 20px;
}

.pictures {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 800px;
}

div {
    margin: auto;
    width: 600px;
}

p {
    margin-top: -10px;
}

hr {
    width: 600px;
    height: 2px;
    background: black;
}